<header class="panel-heading">
         <h1>Top design of the day!</h1>
</header>

<table cellpadding="0" cellspacing="0" class="table table-striped table-hover table-condensed">
<tr>
	<th>Name</th>
	<th>Rating</th>
	<th>Last Vote</th>
</tr>
<?php foreach ($dailyvote as $dvotes):?>

    
<tr>
	<td>
		   <?php  echo $dvotes['dd']['name'];?>
	</td>
	<td>
		 <?php echo $dvotes[0]['totalrate'] . " " . "votes!"; ?>
	</td>
	<td>
		 <?php echo $dvotes['tvotes']['created']; ?>
	</td>
</tr>
<?php
endforeach;
?>


</table>