<?php 

//foreach ($topvoterank as $votes) {
//	debug($votes);
//}

 ?>
<header class="panel-heading">
         <h1>Top Ranked Designs</h1>
</header>

<table cellpadding="0" cellspacing="0" class="table table-striped table-hover table-condensed">
<tr>
	<th>Name</th>
	<th>Rating</th>
	<th>Last vote</th>
</tr>
<?php foreach ($topvoterank as $votes):?>

    
<tr>
	<td>
		   <?php  echo $votes['dd']['name'];?>
	</td>
	<td>
		 <?php echo $votes[0]['totalrate'] . " " . "votes!"; ?>
	</td>
	<td>
		 <?php echo $votes['tvotes']['created']; ?>
	</td>
</tr>
<?php
endforeach;
?>


</table>
