<?php 
//foreach ($weeklyvote as $wvote) {
//debug($wvote);
//}

?>

<header class="panel-heading">
         <h1>Top design of the week</h1>
</header>

<table cellpadding="0" cellspacing="0" class="table table-striped table-hover table-condensed">
<tr>
	<th>Name</th>
	<th>Rating</th>
	<th>Last Vote</th>
</tr>
<?php foreach ($weeklyvote as $wvotes):?>

    
<tr>
	<td>
		   <?php  echo $wvotes['dd']['name'];?>
	</td>
	<td>
		 <?php echo $wvotes[0]['totalrate'] . " " . "votes!"; ?>
	</td>
	<td>
		 <?php echo $wvotes['tvotes']['created']; ?>
	</td>
</tr>
<?php
endforeach;
?>


</table>