<!-- <hr/> -->
<p><?php echo $this->Html->image('home_banner.jpg',array('width'=>'941','height'=>'500')); ?></p>

<div class="col-4">

	<div class="element design flat item view view-tenth">
	    <?php echo $this->Html->image('front-positif.png'); ?>
	</div>

	<div class="element flat item view view-tenth">
	    <?php echo $this->Html->image('front-super-muslim.png'); ?>
	</div>

	<div class="element development flat item view view-tenth">
	    <?php echo $this->Html->image('front-arab.png'); ?>
	</div>	

	<div class="element frontend item view view-tenth">
	    <?php echo $this->Html->image('this-is-kota-bharu.png'); ?>
	</div>

	<div class="element dashboard frontend inner-photography item view view-tenth">
	   	<?php echo $this->Html->image('front-askar.png'); ?>
	</div>

	<div class="element design development item view view-tenth">
	    <?php echo $this->Html->image('kapcai-club.png'); ?>
	</div>

	<div class="element dashboard frontend inner-photography item view view-tenth">
	   	<?php echo $this->Html->image('i-am-muslim.png'); ?>
	</div>
	
	<div class="element dashboard frontend inner-photography item view">
	<a href="http://dropship.demodocnantees.com/stores/"><?php echo $this->Html->image('SHOP-THE-DESIGN-NOW.jpg'); ?></a>
	</div>

</div>